@model PBL3.Models.FlightSearchViewModel
@{
    ViewData["Title"] = "Test Results";
}

<h1>Search Results Test</h1>
<p>If you can see this, the view is working!</p>

<p>Departure Airport ID: @Model.DepartureAirportId</p>
<p>Arrival Airport ID: @Model.ArrivalAirportId</p>
<p>Departure Date: @Model.DepartureDate.ToString("dd/MM/yyyy")</p>